.badges {
	margin: 15px 0;
	box-sizing: border-box;
	white-space: pre-line;

	span {
		display: inline-block;
		background-color: $offWhite;
		color: $offBlack;
		padding: 5px 15px;
		border-radius: 33px;
		font-weight: normal;
		line-height: 1.2;
		margin: 5px 2px;
	}
}