.header {
	position: fixed;
	top: 0;
  width: 100%;
	z-index: 1000;
	border-bottom: 1px solid $borderLight;

	.container {
		display: flex;
		justify-content: space-between;
		padding: 1.5rem 0;
		color: $black;
		font-size: 1.2em;
	}
	
	.logo {
		display: flex;
		align-items: center;
		margin: 0 0 0 1rem;

		img {
			display: flex;
			align-items: center;
			height: 25px;
		}
	}

	.nav-list {
		display: flex;
		align-items: center;
		margin: 0 1rem 0 0;

		ul {
			display: none;
		}

		li {
			margin: 0 0.5rem;
			font-size: 1rem;
		}
	}

	.nav-list-active {
		display: inline-block;
		position: absolute;
		background: $white;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		animation: fadeIn 0.5s;

		.hamburger {
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
		}

		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		li {
			margin: 0.5rem 0;
		}
	}
}

@media (min-width: $tablet-breakpoint) {
	.header {
		.nav-list {
			.hamburger {
				display: none;
			}

			ul {
				display: flex;
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
