.hero-image {
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 0 1rem 0;
}
.options {
 display: flex;
 justify-content: flex-end;

 a {
  &:hover {
    text-decoration: underline;
  }
 }
}