body {
  margin-bottom: 100px;
  min-width: 320px;
}

main {
  margin: 4.5rem 0 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  max-width: 1300px;
}

.head {
  padding: 2rem 0 0 0;
}

.container {
  padding: 0 1rem;
}

@media only screen and (min-width: $mobile-breakpoint) {
	.container {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
	.container {
    padding: 0 3rem;
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
	.container {
    padding: 0 4rem;
  }
}