body {
  font-family: $font-regular;
}

body p, a {
  color: $black;
}

// h1 {
//   font-size: 3rem;
//   font-weight: normal;
//   padding-bottom: 15px;
// }

h2,
.headline {
  font-size: 2.4rem;
  margin: 0 0 2rem 0;
}

h1, 
h2,
h3,
h4,
.headline {
	color: $black;
  font-family: $font-bold;
}

h3 {
	font-size: 1.4rem;
}

.subtitle {
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h5 {
  margin-top: 0;
  font-size: 1.3em;
}

header p {
  font-size: 20px;
}

p {
	font-size: 20px;
  white-space: pre-line;

  &.small {
  	font-size: 1.2rem;
  }
}

blockquote, blockquote p {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 100;
}

@media only screen and (min-width: $tablet-breakpoint) {
  h2,
  .headline {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}