body {
  font-family: $font-regular;
}

body p, a {
  color: $black;
}

h1 {
  font-size: 4.2em;
  font-weight: normal;
  margin: 150px 0 0 0;
  padding-bottom: 15px;
  
}

h2 {
  font-size: 2.4em;
  font-weight: normal;
  margin: 0;
  padding: 50px 0 30px 0;
}

h1, 
h2,
h3 {
	color: $black;
  font-family: $font-bold;
}

h3 {
	margin-top: 10px;
	font-size: 1.6rem;
	line-height: 1.2em;
  font-weight: bold;
}

h4 {
  color: $black; 
}

h5 {
  margin-top: 0;
  font-size: 1.3em;
}

header p {
  font-size: 25px;
}

p {
	font-size: 20px;
  white-space: pre-line;

  &.small {
  	font-size: 1.2rem;
  }
}

blockquote, blockquote p {
	font-size: 25px;
	font-style: italic;
	font-weight: 100;
}
