$primaryColour: #2D6286;
$black: #3f3f3f;
$white: #FFF;
$offWhite: #F1F1F1;
$offBlack: #3F3F3F;
$highlight: #0e8add;
$borderLight: #D3D3D3;

$font-regular: 'Kievit', Helvetica, Arial, sans-serif;
$font-bold: 'Kievit Bold', Helvetica, Arial, sans-serif;
$font-italic: 'Kievit Italic', Helvetica, Arial, sans-serif;
$font-heading: 'kievitblackitalic', Helvetica, Arial, sans-serif;